/* ===================================
            variables
===================================== */
:root {
    --creamy-white: #f9f6f0;
    --foresty-black: #3d4035;
    --white: #ffffff;
    --minty-green: #a3b899;
    --dark-green: #8c9385;
    --light-green: #d8decb;

    --radius-soft: 8px;
    --radius-norm: 16px;
    --radius-hard: 20px;

    --shadow-soft: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* ===================================
            general
===================================== */
body {
    background-color: var(--creamy-white);
    color: var(--foresty-black);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* ===================================
            interpage nav
===================================== */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 1000;
}

.main-nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav a {
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    font-size: 1.1rem;
    transition: transform 0.3qxs ease, opacity 0.3s ease;
}

.main-nav a:hover {
    transform: translateY(-2.5px);
}

.main-nav .fa-instagram {
    font-size: 1.5rem;
    color: var(--white);
}

.mobile-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--white);
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .mobile-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--minty-green);
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .main-nav ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}