:root {
    --creamy-white: #f9f6f0;
    --creamy-white-alt: #f9f0f0;
    --white: #ffffff;
    --foresty-black: #3d4035;
    --foresty-black-alt: #403535;
    --brown-black: #262018;
    --black: rgb(43, 43, 43);
    --dark-red: #351b18;
    --minty-green: #a3b899;
    --dark-green: #8c9385;
    --light-green: #d8decb;
    --darker-green: rgb(47, 79, 65);
    --blue: #87b5c5;
    --duck-yellow: #ded19c;
    --text-size: 20px;
    --radius-soft: 8px;
    --radius-norm: 16px;
    --radius-hard: 20px;
    --border-red: 2px solid var(--dark-red);
    --border-green: 2px solid var(--minty-green);
    --border-black: 3px solid var(--brown-black);
    --shadow-soft: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: normal;
    scroll-behavior: smooth;
}

body {
    background-color: var(--creamy-white);
    color: var(--foresty-black);
    font-family: 'Montserrat', sans-serif;

    display: grid;
        
    grid-template-areas:
    
        "header header header"
    
        "main main main"
    
        "footer footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

main {
    min-width: 320px;
    min-height: calc(100vh - 105px);
}

p, a {
    font-size: 20px;
}

.icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

input {
    font-family: 'Montserrat', sans-serif;
}

nav ul li,
i, a {
    transition: transform 0.3s ease, color 0.3s ease;

    &:hover {
        transform: translateY(-2px);
    }
}

nav ul li a,
nav ul li i {
    transition: transform 0.3s ease;
    transform: translateY(0);
}

nav ul li:hover {
    & a {
        transform: translateY(-2px);
    }

    & a:hover i {
        transform: none;
    }
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    gap: 10px;
    background-color: transparent;
    position: relative;
    z-index: 1000;
}

.site-header a,
.nav-burger-menu {
    text-decoration: none;
    color: var(--white);
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
}

.site-nav {
    &>ul {
        display: flex;
        gap: 30px;
        list-style: none;
    }
}

.nav-burger-menu {
    display: none;
    z-index: 1000;
}

@media (max-width: 650px) {
    .nav-burger-menu {
        display: block;
        position: relative;
        z-index: 1001;
    }

    .site-nav {
        position: absolute;
        top: 0;
        left: 15%;
        width: 70%;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(5px);
        transform: translateY(-20px);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.3s ease, 0.3s ease;
        padding: 25px 0 20px 0;
        border-radius: 0 0 var(--radius-norm) var(--radius-norm);
        z-index: 1002;

        &.active {
            transform: translateY(0);
            opacity: 1;
            pointer-events: auto;
        }

        & ul {
            flex-direction: column;
            align-items: center;
            gap: 25px;
        }
    }

    .site-header {
        & .site-nav {
            & a {
                color: var(--foresty-black);
            }
        }
    }
}

@Media (min-width: 2500px){
    .site-header {
        padding-top: 15px;
        padding-left: 200px;
        padding-right: 200px;

        & a {
            font-size: 25px;
        }

        & .icon {
            font-size: 35px;
        }
    }

}


.site-footer {
    margin-top: 10px;
    background-color: rgba(122, 122, 122, 0.479);
    color: var(--black);
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

.home-body {
    background-color: #615150;
    background-image: url('../../assets/images/brand/bgHome.jpg');
    background-image: 
            image-set(url('../../assets/images/brand/bgHome.avif') type('image/avif'),
            url('../../assets/images/brand/bghome.webp') type('image/webp'),
            url('../../assets/images/brand/bghome.jpg') type('image/jpeg'));
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 400px;
}